<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.NFC" />
    <uses-sdk android:minSdkVersion="10"/>
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <application
    android:icon="@mipmap/ic_launcher"
    android:label="Wandering Homepage"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme" >
    <activity
        android:name="com.example.myapplication.Login"
        android:label="Homepage" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />

        </intent-filter>
        <intent-filter>
            <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="http"
                android:host="developer.android.com"
                android:pathPrefix="/index.html" />
        </intent-filter>
    </activity>
    <activity android:name="com.example.myapplication.Mainactivity" />
        <activity android:name="com.example.myapplication.OtherPeople" />
        <activity android:name="com.example.myapplication.OwnSigniture" />
        <activity android:name="com.example.myapplication.NFC" />
        <activity android:name="com.example.myapplication.NFCSS" >
    </activity>
</application>

    </manifest>
